<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Fairytale</title>
  <link href="/public/css/fairytale.css" rel="stylesheet" type="text/css">
</head>

<body>
  <h2>
    <b><a href="/fairytales" id="back-link">Back to main page</a></b>
  </h2>
  <h1>
    <b>Fairytale:</b>
    <%= fairytale.title %>
  </h1>

  <p>
    <b>Description:</b>
    <%= fairytale.description %>
  </p>

  <p>
    <b>Rating:</b>
    <%= fairytale.rating %>
  </p>

  <h2>Edit Fairytale</h2>
  <form id="edit-form" action="/fairytales/<%= fairytale.id %>?_method=PUT" method="POST" enctype="application/x-www-form-urlencoded">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%= fairytale.title %>" required>

    <label for="rating">Rating:</label>
    <input type="number" min="0" max="5" step="0.1" id="rating" name="rating" value="<%= fairytale.rating %>" required>

    <button type="submit">Update</button>
  </form>

  <h2>Delete Fairytale</h2>
  <form action="/fairytales/<%= fairytale.id %>?_method=DELETE" method="POST">
    <button type="submit" id="delete-button">Delete</button>
  </form>
</body>

</html>